/* Styles.css */
/* All miscellaneous styles goes here */

.http-error {
    margin-top: 5rem;
}

.http-error h1 {
    font-size: 8rem;
    font-weight: bold;
}

.http-error p {
    font-size: 1.5rem;
}
